.sidebar .profile h4{
	color: #26a69a;
}
div.row.sort-knaut{
	border-top: 1px solid #49c4c3;
	margin: 0 0 2% 0;
}

div.row.upper-section{
	/*height: 60px*/
	margin: -10px 0;
}

.sort-knaut-left-margin{
	margin : -10px 0 0 50px;
}

.sort-knaut-left-margin .dropdown-menu > li > a {
	padding: 3px 20px !important;
}
.navbar-subnav .navbar-nav > li.active a {
    color: #26a69a;
  	border-bottom: 4px solid #5cd7d6;
}
.navbar-subnav .navbar-nav > li a:hover {
    color: #26a69a;
}
.sidebar.sidebar-skin-white .sidebar-menu a {
  color: #212121;
}

div.row.upper-section .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
}
.ls-top-navbar body > .sidebar, .ls-top-navbar .st-container > .sidebar, .ls-top-navbar .ui-view-main dashboard-sidebar > .sidebar {
    top: 50px;
}
.ls-bottom-footer .st-container {
    padding-bottom: 0px;
}

.knaut-cover {
  margin-bottom: 0px;
}

ul.img-grid.my-knaut-profile li {
    float: left;
    margin: 1%;
    text-align: center;
    width: 23%;
}
.img-grid.my-knaut-profile span,.img-grid.my-knaut-following span {
    color: #333333;
}
ul.img-grid.my-knaut-following div.view-more i{
  padding: 2% 0 0 0%;
  width: 100%;
  text-align: center;
}
ul.img-grid.my-knaut-following div span{
  padding: 0 30%;
  text-align: center;
}