<div class="cover coverphoto knaut-cover overlay cover-image-full height-300-lg profile">
  <!-- <div class="overlay overlay-full">
    <div class="v-top">
      <a href="#" class="btn btn-cover"><i class="fa fa-pencil"></i></a>
    </div>
  </div> -->
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid profile-nav">
    <ul class="nav navbar-nav navbar-left">
      <li>{{p.profileDetails.no_follower}} Followers</li>
      <li>{{p.profileDetails.no_following}} Following</li>
      <li>{{p.profileDetails.no_knauted}} Knauted</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="index.html">All Content</a></li>
      <li><a ng-href="{{baseUrl}}dashboard/post">Upload</a></li>
    </ul>
  </div>
</nav>  
<div class="container-fluid"> 
  <div class="timeline row" data-toggle="isotope">
    <div class="col-xs-12 col-md-12 col-lg-12 item">
      <div class="timeline-block">                  
        <div class="panel panel-default relative">            
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">                
              <div class="panel-body">
                <div class="cover overlay cover-image-full">
                  <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
                </div>                        
              </div> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
              <div class="panel-body">   
                <h6>15th January, 2016</h6>               
                <h4>The Title</h4>                        
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta?Lorem ipsum dolor sit amet?</p>
              </div>
              <div class="panel-body">  
                <h4 class="text-left"> Share</h4> 
                <ul class="icon-list share-large-icon margin-reduce text-right">
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-tumblr fa-3x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
                    </a>
                  </li>  
                </ul>
              </div>
              <div class="panel-body panel-boxed text-muted">  
                From <a href="javascript:void(0);"> wildlife</a>
                by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
              </div>                                        
              <div class="panel-body panel-boxed text-muted text-left">
              <div class="rating">
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
              </div>
              <ul class="icon-list margin-reduce text-right">
                <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
                <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
              </ul>
            </div> 
            </div>
          </div>                 
        </div>                    
      </div>
    </div>
  </div> 
</div>
<!--Dashboard feed section is displayed here-->
<dashboard-feed feed="p.knautFeed"></dashboard-feed>