<div class="container-fluid">      
	<div class="row">
        <div class="col-md-12">
          <h3 class="page-section-heading">Edit Profile</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <form name="editform" class="form-horizontal" role="form">
                <div class="form-group">
        		    <label for="First name" class="col-sm-3 control-label">First name <span class="mandatory_field_star">*</span></label>
                    <div class="col-sm-9">
                    	<input type="text" ng-model="e.profileDetails.first_name" name="first_name" validator="required" placeholder="First name" class="f1-first-name form-control">
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Last name <span class="mandatory_field_star">*</span></label>
                    <div class="col-sm-9">                    	
                    	<input type="text" ng-model="e.profileDetails.last_name"  name="last_name" validator="required" placeholder="Last name" class="f1-last-name form-control">
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">What Defines You</label>
                    <div class="col-sm-9">                    	
                    	<input type="text" ng-model="e.profileDetails.defines_you"  name="defines_you" placeholder="What Defines You" class="f1-last-name form-control">
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Email <span class="mandatory_field_star">*</span></label>
                    <div class="col-sm-9">                    	
                    	<input disabled type="text" ng-model="e.profileDetails.email"  name="email" validator="required" placeholder="Email" class="f1-last-name form-control">
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Location</label>
                    <div class="col-sm-9">                    	
                    	<input type="text" ng-model="e.profileDetails.location"  name="location" placeholder="Location" class="f1-last-name form-control">
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Gender <span class="mandatory_field_star">*</span></label>
                    <div class="col-sm-9">                       		
                		<div class="radio radio-inline">
                        	<input type="radio" ng-model="e.profileDetails.gender" name="radio1" id="radio11" value="M" checked>
                        	<label for="radio11">Male</label>
                        </div>
                        <div class="radio radio-inline">
                        	<input type="radio" ng-model="e.profileDetails.gender" name="radio1" id="radio12" value="F" checked>
                        	<label for="radio12">Female</label>
                        </div>                                              		
                		<div class="radio radio-inline">
                            <input type="radio" ng-model="e.profileDetails.gender" name="radio1" id="radio13" value="O" checked>
                            <label for="radio13">Other</label>
                        </div>
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Describe Yourself</label>
                    <div class="col-sm-9">                    	                    	
                    	<textarea ng-model="e.profileDetails.about_me"  name="about_me" placeholder="Describe Yourself" class="form-control" rows="5"></textarea>
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Blog Title</label>
                    <div class="col-sm-9">                    	
                    	<input type="text" ng-model="e.profileDetails.title" name="title" placeholder="Blog title" class="f1-last-name form-control">
                	</div>
                </div>
                <div class="form-group">
                    <label for="Last name" class="col-sm-3 control-label">Link</label>
                    <div class="col-sm-9">                    	
                    	<input type="text" ng-model="e.profileDetails.link"  name="link" placeholder="Link" class="f1-last-name form-control">
                	</div>
                </div>    
                <div class="form-group margin-none">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" validation-submit="editform" ng-click="e.editSubmit();" class="btn btn-primary">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
  	</div>
</div>