<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
            	<form name='ur.registration_form' role="form" action="" method="post" class="f1" novalidate>
            		<div class="f1-steps">
            			<div class="f1-progress">
            			    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="4" style="width: 16.66%;"></div>
            			</div>
            			<div class="f1-step active">
            				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
            				<p>About</p>
            			</div>
            			<div class="f1-step">
            				<div class="f1-step-icon"><i class="fa fa-file-text"></i></div>
            				<p>Content</p>
            			</div>
            		    <div class="f1-step">
            				<div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
            				<p>Invite</p>
            			</div>                        
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-heart"></i></div>
                            <p>Choices</p>
                        </div>
            		</div>
            		<!-- <fieldset class="about">
            		    <h4>Tell us who you are:</h4>
            			<div class="form-group">
            			    <label for="First name">First name</label>
                            <input type="text" ng-model="ur.registration.first_name" name="first_name" validator="required" placeholder="First name" class="f1-first-name form-control">
                        </div>
                        <div class="form-group">
                            <label for="Last name">Last name</label>
                            <input type="text" ng-model="ur.registration.last_name"  name="last_name" validator="required" placeholder="Last name" class="f1-last-name form-control">
                        </div>                        
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" ng-model="ur.registration.email"  name="email" validator="required,email" placeholder="Email" class="f1-last-name form-control">
                            <span ng-if="ur.registration.emailAlreadyExist">
                                <p class="validation-invalid">Email already exist</p>
                            </span>
                        </div>                        
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" ng-model="ur.registration.username"  name="username" validator="required,minlength=5,maxlength=15" minlength-error-message="Username should be minimum 5 characters" maxlength-error-message="Username should not be more than 15 characters" placeholder="Username" class="f1-last-name form-control">
                            <span ng-if="ur.registration.usernameAlreadyExist">
                                <p class="validation-invalid">Username already exist</p>
                            </span>
                        </div>                    
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" validator="required,minlength=6,maxlength=20" minlength-error-message="Password should be minimum 6 characters" maxlength-error-message="Password should not be more than 20 characters" ng-model="ur.registration.password"  name="password" validator="required" placeholder="Password" class="f1-last-name form-control">
                        </div>                                            
                        <div class="form-group">
                            <label for="Confirm Password">Confirm Password</label>
                            <input type="password" ng-model="ur.registration.confirm_password"  name="confirm_password" validator="required" placeholder="Confirm Password" class="f1-last-name form-control">
                            <span ng-if="ur.registration.confirm_password && ur.registration.confirm_password!=ur.registration.password">
                                <p class="validation-invalid">Password and Confirm password did not match</p>
                            </span>
                        </div>
                        <div class="f1-buttons">
                            <button type="button" class="btn btn-next about-sub" validation-submit="ur.registration_form" ng-click="ur.registration.aboutSubmit(ur.ur.registration, 'button.about-sub');">Next</button>
                        </div>
                    </fieldset> -->

                    <fieldset class="about content">                        
                        <div class="clearfix">
                            <img src="assets/images/sidebar-logo.png" alt="" class="pull-left">
                            <h5 class="clearfix">Welcome sdfds</h5>
                            <h3 class="primary">Showcase your creation</h3>
                            <a href="3">Skip</a>
                        </div>
                        
                        <div class="form-group">
                            <label for="f1-facebook">Select content type </label>
                            <div class="clear"></div>
                            <div class="row register-content-type">
                                <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                    <div>
                                        <div class="div_img">
                                            <img src="./assets/images/blog-icon.png">
                                        </div>
                                        <p class="radio-inline">
                                            <input type="radio" ng-required="!ur.registration.content_type" value="B" ng-model="ur.registration.content_type" name="content_type"> 
                                            <label>Blog</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                    <div>
                                        <div class="div_img">
                                            <img src="./assets/images/image-icon.png">
                                        </div>
                                        <p class="radio-inline">
                                            <input type="radio" ng-required="!ur.registration.content_type" value="I" ng-model="ur.registration.content_type" name="content_type"> 
                                            <label>Image</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                    <div>
                                        <div class="div_img">
                                            <img src="./assets/images/audio-icon.png">
                                        </div>
                                        <p class="radio-inline">
                                            <input type="radio" ng-required="!ur.registration.content_type" value="A" ng-model="ur.registration.content_type" name="content_type"> 
                                            <label>Audio</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                    <div>
                                        <div class="div_img">
                                            <img src="./assets/images/video-icon.png">
                                        </div>
                                        <p class="radio-inline">
                                            <input type="radio" ng-required="!ur.registration.content_type" value="V" ng-model="ur.registration.content_type" name="content_type"> 
                                            <label>Video</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="f1-content_title">Title</label>
                            <input type="text" name="content_title" ng-model="ur.registration.content_title" validator="required" placeholder="Title" class="form-control">
                        </div>
                        <div ng-show="ur.registration.content_type=='B'" class="form-group">
                            <label for="f1-content_title">Description</label>
                            <div ckeditor="ur.ckeditorOption" ng-model="content" ready="onReady()"></div>
                        </div>
                        <div ng-show="ur.registration.content_type=='I' || ur.registration.content_type=='A' || ur.registration.content_type=='V'" class="form-group">
                            <label for="f1-content_title">Uplaod file </label>
                            <input type="file" validator="required" name="content_description" ng-model="ur.registration.content_description">
                        </div>                        
                        <div  ng-show="ur.registration.content_type=='I' || ur.registration.content_type=='A' || ur.registration.content_type=='V'" class="form-group">
                            <label for="f1-description">Description</label>
                            <input type="text" validator="required" ng-model="ur.registration.description" name="description" placeholder="Description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="f1-category">Category</label>
                            <input type="text" validator="required" ng-model="ur.registration.category" name="category" placeholder="Category" class="form-control">
                        </div>
                        <div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Skip</button>
                            <button type="button" class="btn btn-next" validation-submit="ur.registration_form">Upload</button>
                        </div>
                    </fieldset>

                    <fieldset>
                        <h4>Social media profiles:</h4>
                        <div class="form-group">
                            <label for="f1-facebook">Facebook</label>
                            <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                        </div>
                        <div class="form-group">
                            <label for="f1-twitter">Twitter</label>
                            <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                        </div>
                        <div class="form-group">
                            <label for="f1-google-plus">Google plus</label>
                            <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                        </div>
                        <div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn btn-submit">Submit</button>
                        </div>
                    </fieldset>
            	
            	</form>
            </div>
        </div>
            
    </div>
</div>