<div class="top-content">
	<div class="container">
		<div class="row">
		    <div class="col-sm-8 col-sm-offset-2 text">
		        <h1><img src="./assets/images/sidebar-logo.png">Forget your password?</h1>
		    </div>
		</div>
		<div class="row">
		    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
		        <form name='forget' role="form" action="" method="post" class="f1 user-login" novalidate>
		            <fieldset class="content">
		            	<div class="alert alert-success" ng-show="f.succesMessage">
							{{f.succesMessage}}
						</div>
		            	<div class="alert alert-warning" ng-show="f.errorMessage">
							{{f.errorMessage}}
						</div>
		                <div class="clearfix">                    
		                    <div class="form-group">
		                        <label for="f1-facebook">Email/username</label>
		                        <input type="text" validator="required" name="username" ng-model="f.forget.username" placeholder="Enter email/username" class="f1-facebook form-control">
		                    </div>
		                    <div class="f1-buttons">		                    	
		                        <button type="submit" validation-submit="forget" ng-click="f.forget.submit();" class="btn btn-submit">Submit</button>
		                    </div>
		                </div>
		            </fieldset>
		        </form>
		    </div>
		</div>
	</div>
</div>