<ul class="sidebar-menu">
    <li class="hasSubmenu">     
        <a data-toggle="collapse" href="#following">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span>Following</span>
        </a>
        <ul ng-if="f.followingUser.length>0" class="panel-collapse collapse" id="following">
            <li ng-repeat="fu in f.followingUser">
                <a href="#">        
                    <img ng-if="fu.profile_img" ng-src="{{fu.profile_img}}" height="30" width="30" />
                    <img ng-if="!fu.profile_img" ng-src="{{baseUrl}}assets/images/no_profile_image.png" height="30" width="30" />
                    <span>{{fu.first_name}} {{fu.last_name}}</span>
                </a>
            </li>
            <li class="no_user"><a ng-href="{{baseUrl}}dashboard/following">More</a></li>       
        </ul>
        <ul ng-if="!f.followingUser" class="panel-collapse collapse" id="following">
            <li class="no_user">No one following</li>
            <li class="no_user"><a ng-href="{{baseUrl}}dashboard/following">More</a></li>
        </ul>
  </li>
</ul>