
<!-- sidebar effects INSIDE of st-pusher: -->
<!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
<!-- this is the wrapper for the content -->
<div class="st-content">
  <!-- extra div for emulating position:fixed of the menu -->
  <div class="st-content-inner">
    <!--Dashboard sub nab bar is displayed here-->
    <dashboard-sub-navbar></dashboard-sub-navbar>
    <!--Dashboard feed section is displayed here-->
    <dashboard-feed search-keyword="$root.searchKeyword" feed="$root.knautFeed"></dashboard-feed>
  </div>
  <!-- /st-content-inner -->
</div>