<div class="st-container">
  <!-- Fixed navbar -->  
  <home-header-nav-bar></home-header-nav-bar>
  <!-- Fixed navbar -->
  <home-banner></home-banner>
  <home-knaut-concept></home-knaut-concept>
  <div class="container-fluid home-delve-in">
      <h1 class="text-center center-block home-delve-in-hedaing">DELVE-IN</h1>
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <!--Dashboard feed section is displayed here-->
              <dashboard-feed></dashboard-feed>
          </div>
      </div>
  </div>
  <!-- Footer -->
  <home-footer></home-footer>  
  <!-- Footer -->
</div>
<!-- /st-container -->