<div id="myCarousel" class="carousel slide home-banner" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li><!-- 
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li> -->
  </ol>  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">  
    <div class="item active"> <img src="./assets/images/banner/1.png" alt="...">
      <div class="carousel-caption">
        <h1 class="text-uppercase get-the-audience">
          <span class="clearfix">Get the audience</span> 
          <span class='big-text clearfix'>you Deserve</span>
          <a ng-href="{{baseUrl}}user/registration/step1" class="btn btn-lg btn-danger join-knaut-btn" type="button">JOIN KNAUT</a>
        </h1>
     </div>
    </div>
    <!-- Controls --> 
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> 
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
      <span class="sr-only">Previous</span> 
    </a> 
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
      <span class="sr-only">Next</span> 
    </a> 
  </div>
</div>