<div class="container-fluid knaut-concept">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 text-center">
      <img class="img-responsive center-block" src="./assets/images/create.jpg"/>
      <p>
        <span class="clearfix">
          The first step, of course, is to <span>sign up as a KNAUTTER</span> and upload your content &ndash; be it <span>text, image, audio or video</span>.
        </span>
        <a href="javascript:void(0);">READ MORE...</a>
      </p>    
    <div class="create-icon-border"></div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 text-center">      
      <img class="img-responsive center-block" src="./assets/images/add_knaut.jpg"/>
      <p>
        <span class="clearfix">
          After having uploaded your content, the next step is to make it reach the right audience.
        </span>
        <a href="javascript:void(0);">READ MORE...</a>
      </p>
      <div class="create-icon-border"></div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 text-center">        
      <img class="img-responsive center-block" src="./assets/images/monetize.jpg"/>
      <p>
        <span class="clearfix">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
        <a class="clearfx" href="javascript:void(0);">READ MORE...</a></p>
    </div>
  </div>
</div>