<!-- this is the wrapper for the content -->
<div class="st-content">
  <!-- extra div for emulating position:fixed of the menu -->
  <div class="st-content-inner">
    <!--Dashboard sub nab bar is displayed here-->
    <profile-sub-navbar></profile-sub-navbar>
      <div class="cover knaut-cover overlay cover-image-full height-300-lg profile">
        <img src="./assets/images/profile-cover.jpg" alt="cover" />
        <div class="overlay overlay-full">
          <div class="v-top">
            <a href="#" class="btn btn-cover"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> All Content</a></li>
            <li><a href="profile.html"><i class="fa fa-fw icon-user-1"></i> Public Profile</a></li>
            <li><a href="users.html"><i class="fa fa-fw fa-users"></i> Upload</a></li>
          </ul>
        </div>
      </nav>  
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
              <a class="btn btn-white btn-xs pull-right" href="#"><i class="fa fa-pencil"></i></a>
              <i class="fa fa-fw fa-info-circle"></i> About
            </div>
            <div class="panel-body">
              <ul class="list-unstyled profile-about margin-none">
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Name</span></div>
                    <div class="col-sm-8">Test users</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Email</span></div>
                    <div class="col-sm-8">testuser@mail.com</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Gender</span></div>
                    <div class="col-sm-8">Male</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Lives in</span></div>
                    <div class="col-sm-8">Miami, FL, USA</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
              <div class="pull-right">
                <a class="btn btn-primary btn-xs" href="#">Add <i class="fa fa-plus"></i></a>
              </div>
              <img width="20" src="./assets/images/sidebar-logo.png"> My Knaut
            </div>
            <div class="panel-body">
              <ul class="img-grid my-knaut-profile">
                <li>
                    <a href="#">
                      <img alt="image" src="./assets/images/people/110/guy-6.jpg">                      
                      <span>Fashion</span>
                    </a>
                </li>

                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-3.jpg">
                    <span>Wildlife</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-2.jpg">
                    <span>Photography</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-9.jpg">                    
                    <span>Travelling</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-9.jpg">
                    <span>Music</span>
                  </a>
                </li>     
                <li class="clearfix">
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-4.jpg">                    
                    <span>Painting</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-1.jpg">                    
                    <span>Blogging</span>
                  </a>
                </li>           
                <li>
                  <a href="javascript:void(0);">
                    <div class="view-more">
                      <i class="fa fa-plus fa-5x"></i>
                      <span>View more</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
              <div class="pull-right">
                <a class="btn btn-primary btn-xs" href="#">Add <i class="fa fa-plus"></i></a>
              </div>
              <i class="icon-user-1"></i> Following
            </div>
            <div class="panel-body">
              <ul class="img-grid my-knaut-following">
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-6.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-3.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-2.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-9.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-9.jpg">
                  </a>
                </li>
                <li class="clearfix">
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-4.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-1.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-4.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-6.jpg">
                  </a>
                </li>                           
                <li>
                  <a href="javascript:void(0);">
                    <div class="view-more">
                      <i class="fa fa-plus fa-4x"></i>
                      <span>More</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!--Dashboard feed section is displayed here-->
    <dashboard-feed></dashboard-feed>
  </div>
  <!-- /st-content-inner -->
</div>
<!-- /st-content -->