<!--this is the wrapper for the content -->
<div class="st-content">
  <!-- extra div for emulating position:fixed of the menu -->
  <div class="st-content-inner">
    <!--Dashboard sub nab bar is displayed here-->
    <profile-sub-navbar></profile-sub-navbar>
      <div class="cover knaut-cover overlay cover-image-full height-300-lg profile">
        <img src="./assets/images/profile-cover.jpg" alt="cover" />
        <div class="overlay overlay-full">
          <div class="v-top">
            <a href="#" class="btn btn-cover"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid profile-nav">
          <ul class="nav navbar-nav navbar-left">
            <li>205 Followers</li>
            <li>45 Knauted</li>
            <li>501 Liked</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">All Content</a></li>
            <li><a href="users.html">Upload</a></li>
          </ul>
        </div>
      </nav>  
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
              <a class="btn btn-white btn-xs pull-right" href="#"><i class="fa fa-pencil"></i></a>
              <i class="fa fa-fw fa-info-circle"></i> About
            </div>
            <div class="panel-body">
              <ul class="list-unstyled profile-about margin-none">
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Name</span></div>
                    <div class="col-sm-8">Test users</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Email</span></div>
                    <div class="col-sm-8">testuser@mail.com</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Gender</span></div>
                    <div class="col-sm-8">Male</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="col-sm-4"><span class="text-muted">Lives in</span></div>
                    <div class="col-sm-8">Miami, FL, USA</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
              <div class="pull-right">
                <a class="btn btn-primary btn-xs" href="#">Add <i class="fa fa-plus"></i></a>
              </div>
              <img width="20" src="./assets/images/sidebar-logo.png"> My Knaut
            </div>
            <div class="panel-body">
              <ul class="img-grid my-knaut-profile">
                <li>
                    <a href="#">
                      <img alt="image" src="./assets/images/people/110/guy-6.jpg">                      
                      <span>Fashion</span>
                    </a>
                </li>

                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-3.jpg">
                    <span>Wildlife</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-2.jpg">
                    <span>Photography</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-9.jpg">                    
                    <span>Travelling</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-9.jpg">
                    <span>Music</span>
                  </a>
                </li>     
                <li class="clearfix">
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-4.jpg">                    
                    <span>Painting</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-1.jpg">                    
                    <span>Blogging</span>
                  </a>
                </li>           
                <li>
                  <a href="javascript:void(0);">
                    <div class="view-more">
                      <i class="fa fa-plus fa-5x"></i>
                      <span>View more</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
              <div class="pull-right">
                <a class="btn btn-primary btn-xs" href="#">Add <i class="fa fa-plus"></i></a>
              </div>
              <i class="icon-user-1"></i> Following
            </div>
            <div class="panel-body">
              <ul class="img-grid my-knaut-following">
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-6.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-3.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-2.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-9.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-9.jpg">
                  </a>
                </li>
                <li class="clearfix">
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-4.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-1.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/woman-4.jpg">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img alt="image" src="./assets/images/people/110/guy-6.jpg">
                  </a>
                </li>                           
                <li>
                  <a href="javascript:void(0);">
                    <div class="view-more">
                      <i class="fa fa-plus fa-4x"></i>
                      <span>More</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
  <div class="container-fluid">
    <div class="timeline row" data-toggle="isotope">
      <div class="col-xs-12 col-md-12 col-lg-12 item">
        <div class="timeline-block">                  
          <div class="panel panel-default relative">            
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">                
                <div class="panel-body">
                  <div class="cover overlay cover-image-full">
                    <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
                  </div>                        
                </div> 
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
                <div class="panel-body">   
                  <h6>15th January, 2016</h6>               
                  <h4>The Title</h4>                        
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta?Lorem ipsum dolor sit amet?</p>
                </div>
                <div class="panel-body">  
                  <h4 class="text-left"> Share</h4> 
                  <ul class="icon-list share-large-icon margin-reduce text-right">
                    <li>
                      <a href="javascript:void(0);">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <i class="fa fa-tumblr fa-3x" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
                      </a>
                    </li>  
                  </ul>
                </div>
                <div class="panel-body panel-boxed text-muted">  
                  From <a href="javascript:void(0);"> wildlife</a>
                  by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
                </div>                                        
                <div class="panel-body panel-boxed text-muted text-left">
                <div class="rating">
                    <span class="star"></span>
                    <span class="star filled"></span>
                    <span class="star filled"></span>
                    <span class="star filled"></span>
                    <span class="star filled"></span>
                </div>
                <ul class="icon-list margin-reduce text-right">
                  <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                  <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
                  <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
                </ul>
              </div> 
              </div>
            </div>                 
          </div>                    
        </div>
      </div>
    </div> 
  </div>
    <!--Dashboard feed section is displayed here-->
    <dashboard-feed></dashboard-feed>
  </div>
  <!-- /st-content-inner -->
</div>
<!-- /st-content