<!-- this is the wrapper for the content -->
<div class="st-content">
    <!-- extra div for emulating position:fixed of the menu -->
    <div class="st-content-inner">        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h3>Add new post</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="" name="add_new_post" role="form" enctype="multipart/form-data" novalidate>
                                <div class="form-group">
                                    <label for="f1-facebook">Select content type <span class="mandatory_field_star">*</span></label>
                                    <div class="clear"></div>
                                    <div class="row register-content-type">
                                        <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                            <div>
                                                <div class="div_img">
                                                    <img src="./assets/images/blog-icon.png">
                                                </div>
                                                <p class="radio-inline">
                                                    <input type="radio" ng-required="!ur2.registration.content_type" value="B" ng-model="ur2.registration.content_type" name="content_type"> 
                                                    <label>Blog</label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                            <div>
                                                <div class="div_img">
                                                    <img src="./assets/images/image-icon.png">
                                                </div>
                                                <p class="radio-inline">
                                                    <input type="radio" ng-required="!ur2.registration.content_type" value="I" ng-model="ur2.registration.content_type" name="content_type"> 
                                                    <label>Image</label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                            <div>
                                                <div class="div_img">
                                                    <img src="./assets/images/audio-icon.png">
                                                </div>
                                                <p class="radio-inline">
                                                    <input type="radio" ng-required="!ur2.registration.content_type" value="A" ng-model="ur2.registration.content_type" name="content_type"> 
                                                    <label>Audio</label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="radio_list col-sm-6 col-xs-12 col-md-3 col-lg-3">
                                            <div>
                                                <div class="div_img">
                                                    <img src="./assets/images/video-icon.png">
                                                </div>
                                                <p class="radio-inline">
                                                    <input type="radio" ng-required="!ur2.registration.content_type" value="V" ng-model="ur2.registration.content_type" name="content_type"> 
                                                    <label>Video</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="f1-content_title">Title <span class="mandatory_field_star">*</span></label>
                                    <input type="text" name="content_title" ng-model="ur2.registration.content_title" validator="required" placeholder="Title" class="form-control">
                                </div>
                                <div ng-if="ur2.registration.content_type=='B'" class="form-group">
                                    <label for="f1-content_title">Description <span class="mandatory_field_star">*</span></label>
                                    <div ckeditor="ur2.ckeditorOption" ng-model="ur2.registration.content" ready="onReady()"></div>
                                </div>
                                <div ng-show="ur2.registration.content_type=='I' || ur2.registration.content_type=='A' || ur2.registration.content_type=='V'" class="form-group">{{ur2.registration.postFileUplaod}}
                                    <label for="f1-content_title">Uplaod file <span class="mandatory_field_star">*</span></label>
                                    <input type="file" id="postfileupload" name="content_description" ng-model="ur2.registration.postFileUplaod">
                                </div>
                                <div  ng-if="ur2.registration.content_type=='I' || ur2.registration.content_type=='A' || ur2.registration.content_type=='V'" class="form-group">
                                    <label for="f1-description">Description <span class="mandatory_field_star">*</span></label>
                                    <input type="text" validator="required" ng-model="ur2.registration.content" name="description" placeholder="Description" class="form-control">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="f1-category">Category <span class="mandatory_field_star">*</span></label>
                                    <multiple-autocomplete ng-model="ur2.registration.category"
                                     object-property="cat_name"
                                     suggestions-arr="optionsList">
                                    </multiple-autocomplete>
                                    </div> -->
                                <div class="form-group">
                                	<label for="f1-description">Category <span class="mandatory_field_star">*</span></label>
                                   <select placeholder="Category"  validator="required" ng-model="ur2.registration.category" multiple="multiple" style="width: 100%;" data-toggle="select2">
										<option ng-if="ur2.optionsList.length>0" ng-repeat="o in ur2.optionsList" value="{{o.tbl_categories.id}}">{{o.tbl_categories.cat_name}}</option>
									</select>
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-primary" validation-submit="add_new_post" ng-click="ur2.registration.step2Submit(ur2.registration);">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /st-content-inner -->
</div>