<footer class="home-footer navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <aside class="widget_contact">
          <h3>ABOUT KNAUT</h3>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisi ligula, placerat eu varius sit amet, aliquet eu dolor. Suspendisse euismod erat elit, vel mattis leo bibendum in. Ut semper sollicitudin risus, et vehicula neque rutrum eu. Integer non ex vitae lorem rutrum rutrum. Quisque pellentesque tincidunt leo in imperdiet.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisi ligula, placerat eu varius sit amet, aliquet eu dolor. Suspendisse euismod erat elit, vel mattis leo bibendum in. Ut semper sollicitudin risus, et vehicula neque rutrum eu. Integer non ex vitae lorem rutrum rutrum. Quisque pellentesque tincidunt leo in imperdiet.</p>
          </div>
        </aside>
      </div>
      <div class="col-md-4">
        <aside>
          <h3>SOCIAL FEED</h3>
          <div>
            <div id="tfeed">
              <image class="image-responsive" src="./assets/images/social.jpg">
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-4 home-contact-us">
        <h3>CONTACT US</h3>
        <div>
          <ul>
            <li>19th Ave Sacramento</li>
            <li>CA 95822</li>
            <li>Phone : +1 916-875-2236</li>
            <li>Fax : +916-875-0000</li>
            <li>India</li>
          </ul>
          <p>Email : first.last@example.com</p>
          <div>
            <h3>SUBSCRIBE</h3>
            <div class="input-group" style="width:250px;">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="enter your email">
                  <span class="input-group-btn">
                  <input class="btn btn-primary" type="submit" value="submit">
                  </span> 
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3>FOLLOW US</h3>
            </div>
            <div class="col-md-6">
              <ul class="icon-list">
                <li><a href="#"><i class="fa fa-pinterest fa-4x"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook fa-4x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-4x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-home-footer navbar-main" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav  navbar-left">
        <li>
            <a href="#">How it works</a>
        </li>
        <li>
            <a href="#">Delve In</a>
        </li>
        <li>
            <a href="#">Sign In</a>
        </li>
      </ul>
      <div class="navbar-right">
        <span>© Copyright KNAUT</span>
      </div>
    </div>
  </div>
</footer>