<div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-visible-desktop sidebar-skin-white st-effect-1" id="sidebar-menu">
  <div data-scrollable>
    <div class="sidebar-block">
      <div class="profile"><!-- 
        <img src="./assets/images/no_profile_image.png" alt="people" class="img-circle" /> -->
        <div class="profileImage">

        </div>
        <h4>{{firstName}} {{lastName}}</h4>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li>
        <a href="javascript:void(0);">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          <span>Create New</span>
          <img class="sidebar_logo2" src="./assets/images/sidebar-logo.png">              
        </a>
      </li>
    </ul>
    <ul class="sidebar-menu">
      <li>
        <a ng-href="{{baseUrl}}dashboard/post">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          <span>Add New Post</span>            
        </a>
      </li>
    </ul>
    <ul class="sidebar-menu">          
      <li class="hasSubmenu open">
        <a data-toggle="collapse" href="#myknaut">
          <i class="icon-user-1"></i> 
          <span>My Knaut</span></a>
        <ul class="in panel-collapse collapse" id="myknaut">
          <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
          <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
        </ul>
      </li>
    </ul>
    <following-sideBar></following-sideBar>
    <follower-sideBar></follower-sideBar>
    
    <ul class="sidebar-menu">          
      <li class="hasSubmenu">
        <a href="#myinterest">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span>My Interest</span></a>  
        <ul class="panel-collapse collapse" id="myinterest">
          <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
          <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>