<div class="container-fluid">
  <div class="timeline row" data-toggle="isotope"> 
    <div class="col-xs-12 col-md-6 col-lg-4 item" ng-repeat="f in feed
">
        <div class="timeline-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="media">
                    <div class="media-left">
                      <a href="">
                        <img width="55px" ng-src="{{f.profile_img}}" class="media-object">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#" class="pull-right text-muted">
                        <img src='./assets/images/sidebar-logo.png'>
                      </a>                
                      <a href="javascript:void(0);">{{f.first_name}} {{f.last_name}}</a>
                      <span>{{f.post_datetime}}</span>
                    </div>
                  </div>
                </div>
                <div ng-bind-html="f.post_content" class="panel-body" ng-if="f.post_content_category=='B'">
                </div>                
                <div class="panel-body" ng-if="f.post_content_category=='I'">                  
                  <div class="cover overlay cover-image-full">
                    <img width="315px" ng-src="{{f.media_details[0].img_url}}"/>
                  </div>
                  <p>{{f.post_content}}</p>
                </div>                
                <div class="panel-body" ng-if="f.post_content_category=='V'">
                  <video width="315" height="240" controls>
                    <source src="" dynamic-url dynamic-url-src="{{f.media_details[0].img_url}}" type="audio/mpeg" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
                  <p>{{f.post_content}}</p>
                </div>                
                <div class="panel-body" ng-if="f.post_content_category=='A'">
                  <audio controls>
                    <source src="" dynamic-url dynamic-url-src="{{f.media_details[0].img_url}}" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                  <p>{{f.post_content}}</p>
                </div>
                <div class="panel-body panel-boxed text-muted top-border-removed">  
                 <span ng-if="f.category_name">From <a href="javascript:void(0);"> {{f.category_name}}</a></span>
                  <span ng-if="f.knaut_name">by <a href="javascript:void(0);">{{f.knaut_name}}</a></span>
                </div>
                <div class="panel-body panel-boxed text-muted text-left">
                  <div class="rating">
                      <span class="star"></span>
                      <span class="star filled"></span>
                      <span class="star filled"></span>
                      <span class="star filled"></span>
                      <span class="star filled"></span>
                  </div>
                  <ul class="icon-list margin-reduce text-right">
                    <li><i class="fa fa-eye" aria-hidden="true"></i> {{f.no_views}}</li>
                    <li><i class="fa fa-comments-o" aria-hidden="true"></i>{{f.no_comments}}</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
              <a href="#" class="pull-right text-muted">
                <img src='./assets/images/sidebar-logo.png'>
              </a>                
                <a href="">Johnny Nitro</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
           From <a href="javascript:void(0);"> wildlife</a>
            by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
          </div>
          <div class="panel-body panel-boxed text-muted text-left">
            <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
            </div>
            <ul class="icon-list margin-reduce text-right">
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">                  
        <div class="panel panel-default relative">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Sachin Tendulkar</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="cover overlay cover-image-full">
              <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
            </div>                        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta?</p>
            </div>   
            <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
            <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
            </div>
            <ul class="icon-list margin-reduce text-right">
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li
            </ul>
          </div>                 
        </div>                    
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Michelle</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
              <div class="rating">
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
              </div>
              <ul class="icon-list margin-reduce text-right">
                <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              </ul>
            </div> 

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Michelle</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
              <div class="rating">
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
              </div>
              <ul class="icon-list margin-reduce text-right">
                <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              </ul>
            </div>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Johnny Nitro</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
           From <a href="javascript:void(0);"> wildlife</a>
            by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
          </div>                                        
          <div class="panel-body panel-boxed text-muted text-left">
            <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
            </div>
            <ul class="icon-list margin-reduce text-right">
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">                  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Sachin Tendulkar</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="panel-body">                         
            <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>   
            <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
            <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
            </div>
            <ul class="icon-list margin-reduce text-right">
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            </ul>
          </div>
        </div>                    
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Johnny Nitro</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
           From <a href="javascript:void(0);"> wildlife</a>
            by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
          </div>                                        
          <div class="panel-body panel-boxed text-muted text-left">
            <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
            </div>
            <ul class="icon-list margin-reduce text-right">
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">                  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Sachin Tendulkar</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="panel-body">                         
            <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>   
            <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
              <div class="rating">
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
              </div>
              <ul class="icon-list margin-reduce text-right">
                <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              </ul>
            </div>            
        </div>                    
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Michelle</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
              <div class="rating">
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
              </div>
              <ul class="icon-list margin-reduce text-right">
                <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              </ul>
            </div>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted">
                  <img src='./assets/images/sidebar-logo.png'>
                </a>
                <a href="">Michelle</a>
                <span>15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted top-border-removed">  
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <div class="panel-body panel-boxed text-muted text-left">
              <div class="rating">
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
              </div>
              <ul class="icon-list margin-reduce text-right">
                <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              </ul>
            </div>
        </div>
      </div>
    </div>

 -->
  </div>

</div>