<div class="row upper-section">
  <div class="col-sm-12 col-xs-12 col-md-5 col-md-offset-4 col-lg-5 col-lg-offset-4">
    <ul class="nav navbar-nav">
      <li ng-class="$state.current.name=='profile' && $state.current.parent=='dashboard' ? 'active' : ''"><a ng-href="{{baseUrl}}dashboard/profile">Profile</a></li>
      <li ng-class="$state.current.name=='knautboard' && $state.current.parent=='dashboard' ? 'active' : ''"><a ng-href="
      {{baseUrl}}dashboard/knautboard">Knautboard</a></li>
      <li ng-class="$state.current.name=='delvein' && $state.current.parent=='dashboard' ? 'active' : ''"><a ng-href="{{baseUrl}}dashboard/delvein">Delve-in</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    <div id="collapse-search-2" class="navbar-collapse collapse">
      <!-- Search -->
      <form class="navbar-form navbar-right">
        <div class="search-2">
          <div class="input-group">
            <input type="text" placeholder="Search .." class="form-control form-control-w-150">
            <span class="input-group-btn">
                <button type="button" class="btn btn-inverse"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </form>
      <!-- // END search -->
    </div>
  </div>
</div>