<nav class="navbar navbar-subnav navbar-static-top margin-bottom-none navbar-skin-cover navbar-skin-cover-white" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header navbar-primary">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-ellipsis-h"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="subnav">      
      <dashboard-sub-navbar-upper-section></dashboard-sub-navbar-upper-section>
      <div class="row sort-knaut">
        <div class="col-sm-12 col-md-6 col-md-offset-4">
          <div class="sort-knaut-left-margin">
            <ul class="nav navbar-nav">
              <!-- simple dropdown -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                Category <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                  <li ng-class="s.searchCategoryType=='A' ? 'active' : ''"><a ng-click="s.searchByCategory('A');" href="javascript:void(0);">Audio</a></li>
                  <li ng-class="s.searchCategoryType=='V' ? 'active' : ''"><a ng-click="s.searchByCategory('V');" href="javascript:void(0);">Video</a></li>
                  <li ng-class="s.searchCategoryType=='B' ? 'active' : ''"><a ng-click="s.searchByCategory('B');" href="javascript:void(0);">Blog</a></li>
                  <li ng-class="s.searchCategoryType=='I' ? 'active' : ''"><a ng-click="s.searchByCategory('I');" href="javascript:void(0);">Image</a></li>
                </ul>
              </li>
              <!-- // END simple dropdown -->
            </ul>
            <ul class="nav navbar-nav">
              <!-- simple dropdown -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                Sort <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                  <li ng-class="s.searchSortType=='P' ? 'active' : ''"><a ng-click="s.searchBySort('P');" href="javascript:void(0);">Priority</a></li>
                  <li ng-class="s.searchSortType=='G' ? 'active' : ''"><a ng-click="s.searchBySort('G');" href="javascript:void(0);">Genre</a></li>
                  <li ng-class="s.searchSortType=='H' ? 'active' : ''"><a ng-click="s.searchBySort('H');" href="javascript:void(0);">Hidden</a></li>
                  <li ng-class="s.searchSortType=='K' ? 'active' : ''"><a ng-click="s.searchBySort('K');" href="javascript:void(0);">Knaut</a></li>
                </ul>
              </li>
              <!-- // END simple dropdown -->
            </ul>
            <ul class="nav navbar-nav">
              <!-- simple dropdown -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                Popular <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                  <li ng-class="s.searchPopularType=='C' ? 'active' : ''"><a ng-click="s.searchByPopularity('C');" href="javascript:void(0);">Comments</a></li>
                  <li ng-class="s.searchPopularType=='V' ? 'active' : ''"><a ng-click="s.searchByPopularity('V');" href="javascript:void(0);">Views</a></li>
                  <li ng-class="s.searchPopularType=='R' ? 'active' : ''"><a ng-click="s.searchByPopularity('R');" href="javascript:void(0);">Rating</a></li>
                  <li ng-class="s.searchPopularType=='K' ? 'active' : ''"><a ng-click="s.searchByPopularity('K');" href="javascript:void(0);">Knauted</a></li>
                </ul>
              </li>
              <!-- // END simple dropdown -->
            </ul>
          </div>
        </div>
      </div>
      <!-- <ul class="nav navbar-nav hidden-xs navbar-right ">
        <li><a href="#" data-toggle="chat-box">Chat <i class="fa fa-fw fa-comment-o"></i></a></li>
      </ul> -->      
    </div>
  </div>
  </nav>