<div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-visible-desktop sidebar-skin-white st-effect-1" id="sidebar-menu">
      <div data-scrollable>
        <div class="sidebar-block">
          <div class="profile">
            <img src="./assets/images/people/110/guy-6.jpg" alt="people" class="img-circle" />
            <h4>Adrian D.</h4>
          </div>
        </div>
        <ul class="sidebar-menu">
          <li>
            <a href="javascript:void(0);">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              <span>Create New</span>
              <img class="sidebar_logo2" src="./assets/images/sidebar-logo.png">              
            </a>
          </li>
        </ul>
        <ul class="sidebar-menu">
          <li>
            <a href="javascript:void(0);">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              <span>Add New Post</span>            
            </a>
          </li>
        </ul>
        <ul class="sidebar-menu">          
          <li class="hasSubmenu open">
            <a href="#myknaut">
              <i class="icon-user-1"></i> 
              <span>My Knaut</span></a>
            <ul class="in" id="myknaut">
              <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
              <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="sidebar-menu">          
          <li class="hasSubmenu">
            <a href="#following">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span>Following</span></a>
            <ul ng-hide="true" class="in" id="following">
              <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
              <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="sidebar-menu">          
          <li class="hasSubmenu">
            <a href="#followers">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span>Followers</span></a>  
            <ul ng-hide="true" class="in" id="followers">
              <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
              <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="sidebar-menu">          
          <li class="hasSubmenu">
            <a href="#myinterest">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>My Interest</span></a>  
            <ul ng-hide="true" class="in" id="myinterest">
              <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
              <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
            </ul>
          </li>
        </ul>

        <!-- <div class="category">About</div>
        <div class="sidebar-block">
          <ul class="list-about">
            <li><i class="fa fa-map-marker"></i> Amsterdam, NL</li>
            <li><i class="fa fa-link"></i> <a href="#">www.mosaicpro.biz</a></li>
            <li><i class="fa fa-twitter"></i> <a href="#">/mosaicprobiz</a></li>
          </ul>
        </div>
        <div class="category">Photos</div>
        <div class="sidebar-block">
          <div class="sidebar-photos">
            <ul>
              <li>
                <a href="#">
                  <img src="./assets/images/place1.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/place2.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/place3.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/food1.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/food1.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/place3.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/place2.jpg" alt="people" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/images/place1.jpg" alt="people" />
                </a>
              </li>
            </ul>
            <a href="#" class="btn btn-primary btn-xs">view all</a>
          </div>
        </div>
        <div class="category">Activity</div>
        <div class="sidebar-block">
          <ul class="sidebar-feed">
            <li class="media">
              <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
              </div>
              <div class="media-body">
                <a href="" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
              </div>
              <div class="media-right">
                <span class="news-item-success"><i class="fa fa-circle"></i></span>
              </div>
            </li>
            <li class="media">

              <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
              </div>
              <div class="media-body">
                <a href="" class="text-white">Adrian</a> just added <a href="" class="text-white">mosaicpro</a> as their office
                <span class="time">2 min ago</span>
              </div>
              <div class="media-right">
                <span class="news-item-success"><i class="fa fa-circle"></i></span>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
              </div>
              <div class="media-body">
                <a href="" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
              </div>
              <div class="media-body">
                <a href="" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
              </div>
              <div class="media-body">
                <a href="" class="text-white">Adrian</a> just logged in
                <span class="time">2 min ago</span>
              </div>
            </li>
          </ul>
        </div> -->
      </div>
    </div>