<div class="container-fluid">
  <div class="timeline row" data-toggle="isotope">
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Johnny Nitro</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="panel-body panel-boxed text-muted">  
            <img width="20" src="./assets/images/sidebar-logo.png">
            From <a href="javascript:void(0);"> wildlife</a>
            by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
          </div>                                        
          <ul class="icon-list text-right">
            <li>
              <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
              </div>  
            </li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
            <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">                  
        <div class="panel panel-default relative">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Sachin Tendulkar</a>
                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          

            <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
          <div class="panel-body">                         
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta?</p>
            </div>   
            <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>                 
        </div>                    
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Michelle</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>  

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Michelle</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>  

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Johnny Nitro</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="panel-body panel-boxed text-muted">  
            <img width="20" src="./assets/images/sidebar-logo.png">
            From <a href="javascript:void(0);"> wildlife</a>
            by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
          </div>                                        
          <ul class="icon-list text-right">
            <li>
              <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
              </div>  
            </li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
            <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">                  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Sachin Tendulkar</a>
                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="panel-body">                         
            <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>   
            <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>                 
        </div>                    
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-2.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Johnny Nitro</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
              Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
          </div>
          <div class="panel-body panel-boxed text-muted">  
            <img width="20" src="./assets/images/sidebar-logo.png">
            From <a href="javascript:void(0);"> wildlife</a>
            by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
          </div>                                        
          <ul class="icon-list text-right">
            <li>
              <div class="rating">
                <span class="star"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
                <span class="star filled"></span>
              </div>  
            </li>
            <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
            <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
            <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">                  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/guy-5.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Sachin Tendulkar</a>
                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          <div class="panel-body">                         
            <img src="./assets/images/place2-full.jpg" alt="place" class="img-responsive">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?
                Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
            </div>   
            <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>                 
        </div>                    
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Michelle</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>  

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                <a href="">
                  <img src="./assets/images/people/50/woman-6.jpg" class="media-object">
                </a>
              </div>
              <div class="media-body">
                <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>

                <a href="">Michelle</a>

                <span>on 15th January, 2014</span>
              </div>
            </div>
          </div>
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
          </div>

          <div class="panel-body">
            Amazing 3D Animation
          </div>
          <div class="panel-body panel-boxed text-muted">  
              <img width="20" src="./assets/images/sidebar-logo.png">
              From <a href="javascript:void(0);"> wildlife</a>
              by <a href="javascript:void(0);">Virat Kohli</a>,<a href="javascript:void(0);">KL Rahul</a>
            </div>                                        
            <ul class="icon-list text-right">
              <li>
                <div class="rating">
                  <span class="star"></span>
                  <span class="star"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                  <span class="star filled"></span>
                </div>  
              </li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> 10</li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i> 15</li>
              <li>| <img width="20" src="./assets/images/sidebar-logo.png"> 2</li>
            </ul>  

        </div>
      </div>
    </div>
  </div>

  </div>