<nav class="navbar navbar-subnav navbar-static-top margin-bottom-none navbar-skin-cover navbar-skin-cover-white" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header navbar-primary">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-ellipsis-h"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="subnav">      
      <dashboard-sub-navbar-upper-section></dashboard-sub-navbar-upper-section>
      <div class="row sort-knaut">
        <div class="col-sm-12 col-md-6 col-md-offset-4">
          <div class="sort-knaut-left-margin">
            <ul class="nav navbar-nav">
              <!-- simple dropdown -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
  Category <span class="caret"></span>
  </a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Essentials</a></li>
                  <li class="active"><a href="#">Active Link</a></li>
                  <li><a href="#">Timeline</a></li>
                  <li><a href="#">Charts</a></li>
                  <li><a href="#">Layouts</a></li>
                  <li><a href="#">Sidebars</a></li>
                  <li><a href="#">Maps</a></li>
                  <li><a href="#">Media</a></li>
                </ul>
              </li>
              <!-- // END simple dropdown -->
            </ul>
            <ul class="nav navbar-nav">
              <!-- simple dropdown -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
  Sort <span class="caret"></span>
  </a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Essentials</a></li>
                  <li class="active"><a href="#">Active Link</a></li>
                  <li><a href="#">Timeline</a></li>
                  <li><a href="#">Charts</a></li>
                  <li><a href="#">Layouts</a></li>
                  <li><a href="#">Sidebars</a></li>
                  <li><a href="#">Maps</a></li>
                  <li><a href="#">Media</a></li>
                </ul>
              </li>
              <!-- // END simple dropdown -->
            </ul>
            <ul class="nav navbar-nav">
              <!-- simple dropdown -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
  Popular <span class="caret"></span>
  </a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Essentials</a></li>
                  <li class="active"><a href="#">Active Link</a></li>
                  <li><a href="#">Timeline</a></li>
                  <li><a href="#">Charts</a></li>
                  <li><a href="#">Layouts</a></li>
                  <li><a href="#">Sidebars</a></li>
                  <li><a href="#">Maps</a></li>
                  <li><a href="#">Media</a></li>
                </ul>
              </li>
              <!-- // END simple dropdown -->
            </ul>
          </div>
        </div>
      </div>
      <!-- <ul class="nav navbar-nav hidden-xs navbar-right ">
        <li><a href="#" data-toggle="chat-box">Chat <i class="fa fa-fw fa-comment-o"></i></a></li>
      </ul> -->      
    </div>
  </div>
  </nav>