<nav class="navbar navbar-subnav navbar-static-top margin-bottom-none navbar-skin-cover navbar-skin-cover-white" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header navbar-primary">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-ellipsis-h"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="subnav">
      <div class="row upper-section">
        <div class="col-sm-12 col-xs-12 col-md-5 col-md-offset-4 col-lg-5 col-lg-offset-4">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Profile</a></li>
            <li><a href="user-public-profile.html">Knautboard</a></li>
            <li><a href="user-public-users.html">Delve-in</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
          <div id="collapse-search-2" class="navbar-collapse collapse">
            <!-- Search -->
            <form class="navbar-form navbar-right">
              <div class="search-2">
                <div class="input-group">
                  <input type="text" placeholder="Search .." class="form-control form-control-w-150">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-inverse"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form>
            <!-- // END search -->
          </div>
        </div>
      </div>
      <div class="row sort-knaut">
        <div class="col-sm-12 col-md-6 col-md-offset-4">
          <div class="sort-knaut-left-margin">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html">Portfolio</a></li> 
              <li><a href="user-public-profile.html">Analytics</a></li>
              <li><a href="user-public-users.html">Guide</a></li>
            </ul>
          </div>
          <!-- <div class="sort-knaut-left-margin">
            <ul class="nav navbar-nav">
              <li class="active"> 
                <a href="javascript:void(0);">Portfolio</a> 
              </li>  
            </ul>
            <ul class="nav navbar-nav">
              <li> 
                <a href="javascript:void(0);">Analytics</a> 
              </li>  
            </ul>
            <ul class="nav navbar-nav">
              <li> 
                <a href="javascript:void(0);">Guide</a> 
              </li>  
            </ul>
          </div> -->
        </div>
      </div>
      <!-- <ul class="nav navbar-nav hidden-xs navbar-right ">
        <li><a href="#" data-toggle="chat-box">Chat <i class="fa fa-fw fa-comment-o"></i></a></li>
      </ul> -->      
    </div>
  </div>
  </nav>